################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ivasiuk_Kirill_201_351/.vs/Ivasiuk_Kirill_201_351/v16
/Ivasiuk_Kirill_201_351/Ivasiuk_Kirill_201_351/.vs/Ivasiuk_Kirill_201_351/v16
/.vs/Ivasiuk_Kirill_201_351/v16
