################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ivasiuk_Kirill_201_351/.vs/Ivasiuk_Kirill_201_351/v16
/Ivasiuk_Kirill_201_351/Ivasiuk_Kirill_201_351/.vs/Ivasiuk_Kirill_201_351/v16
/.vs/Ivasiuk_Kirill_201_351/v16
/Lab_1/.vs/Lab_1/v16
/Lab_1_DataTypes/.vs/Lab_1_DataTypes/v16
/Lab_2/.vs/Lab_2/v16
/Lab_3/.vs/Lab_3/v16
/Ivasiuk_Kirill_201-351/.vs/Ivasiuk_Kirill_201-351/v16
/Lab_3.1_Ivasiuk_Kirill_201-351/.vs/Lab_3.1_Ivasiuk_Kirill_201-351/v16
/Ivasiuk_Kirill_201_351_lab32/.vs/Ivasiuk_Kirill_201_351_lab32/v16
/Ivasiuk_Kirill_201_351_lab4_1/.vs
/lab_4.2/.vs/lab_4.2/v16
/Ivasyuk_Kirill_201-351_1hf/.vs
/Lab_5_3/.vs/Lab_5_3/v16
/Ivasyuk_Kirill_201-351_1hf/lab_4.2/.vs/lab_4.2/v16
/Ivasyuk_Kirill_201-351_1hf/Ivasiuk_Kirill_201_351_lab4_1/.vs
/Ivasyuk_Kirill_201-351_1hf/Lab5_1/.vs/Lab5_1/v16
/Ivasyuk_Kirill_201-351_1hf/Lab_1_DataTypes/.vs/Lab_1_DataTypes/v16
/Ivasyuk_Kirill_201-351_1hf/Lab_3.1_Ivasiuk_Kirill_201-351/.vs/Lab_3.1_Ivasiuk_Kirill_201-351/v16
/Ivasyuk_Kirill_201-351_1hf/Lab5_4/.vs/Lab5_4/v16
/Ivasyuk_Kirill_201-351_1hf/Lab6_1/.vs/Lab6_1/v16
/Ivasyuk_Kirill_201-351_1hf/matrix/.vs/matrix/v16
/Ivasyuk_Kirill_201-351_1hf/Lab6_1/.vs/Ivasiuk_Kirill_201-351_1sem/v16
