################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ivasiuk_Kirill_201_351/.vs/Ivasiuk_Kirill_201_351/v16
/Ivasiuk_Kirill_201_351/Ivasiuk_Kirill_201_351/.vs/Ivasiuk_Kirill_201_351/v16
/.vs/Ivasiuk_Kirill_201_351/v16
/Lab_1/.vs/Lab_1/v16
/Lab_1_DataTypes/.vs/Lab_1_DataTypes/v16
/Lab_2/.vs/Lab_2/v16
/Lab_3/.vs/Lab_3/v16
/Ivasiuk_Kirill_201-351/.vs/Ivasiuk_Kirill_201-351/v16
/Lab_3.1_Ivasiuk_Kirill_201-351/.vs/Lab_3.1_Ivasiuk_Kirill_201-351/v16
