html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url(images/back.jpg);
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header {
  background-color: rgba(255, 0, 0, 0.034);
  padding: 20px 0;
  border-bottom: 5px solid rgba(255, 102, 0, 0);
  position: relative;
  top: 0;
  z-index: 1;
  color: white;
}

.profile {
  margin-left: auto;
  color: white;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.navigation ul li {
  display: inline;
  margin-right: 10px;
  color: white;
}

.navigation ul li:last-child {
  margin-right: 0;
  color: white;
}

.navigation a,
.profile a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-header {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sidebar {
  padding: 20px 20px 20px 0;
  width: 200px;
  position: sticky;
  top: 68px;
  flex-shrink: 0;
  color: white;
}

.page-content {
  padding: 20px;
}

.products-category-header {
  margin-top: 0;
  text-align: center;
  color: white;
}

.product-card {
  display: flex;
  width: 500px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.123);
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 30px;
  font-size: 20px;
}

.products-list {
  font-size: 0;
}

.product-image {
  flex-basis: 50%;
  overflow: hidden;
}

.product-image img {
  height: 100%;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.product-details {
  flex-basis: 50%;
  padding: 20px;
}

.product-details header {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.product-details .information {
  text-align: left;
  font-size: 0.9rem;
  height: 90%;
  overflow: hidden;
  color: white;
}

.product-details .controls {
  text-align: center;
}

.footer {
  background-color: rgba(243, 26, 19, 0.055);
  padding: 20px 0;
  margin-top: auto;
  border-top: 5px solid rgba(255, 102, 0, 0);
  color: white;
}

.scroll-to-top-bnt {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: rgb(51, 51, 51);
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.header ul {
  display: flex;
}

.flex-wrapper {
  display: flex;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 768px) {
  .header {
    position: static;
  }

  .header ul {
    flex-direction: column;
    align-items: center;
  }

  .header ul li {
    padding: 5px;
  }

  .profile {
    margin-left: 0;
  }
  .sidebar {
    position: static;
  }
  .flex-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .products-list {
    justify-content: center;
  }
  .product-card {
    flex-direction: column;
    max-width: 350px;
    width: 95%;
    height: auto;
    flex-grow: 62;
  }
  .product-image img {
    width: 100%;
    height: auto;
  }

  .product-details .information {
    height: auto;
  }
}
